/* :root{
    --purple: #2F192E;
    --purple-light: #30192d;
    --dark-blue: #012677;
    --blue: #5c65c0;
    --skyblue: #00b4fc;
    --light-blue: #005bc5;
    --dark-pink: #f64c57;
    --dark-magenta: #e21b5a;
    --light-green: #61e2c2;
    --light-purple: #d9abff;
} */

:root{
    --purple: #244c3b;
    --purple-light: #497260;
    --dark-blue: #c4b7be;
    --blue: #bab7c4;
    --skyblue: #8a8794;
    --light-blue: #005bc5;
    --dark-pink: #f64c57;
    --dark-magenta: #e21b5a;
    --light-green: #61e2c2;
    --light-purple: #d9abff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: poppins,sans-serif;
}

body{
    background: linear-gradient(45deg,var(--purple),var(--purple-light));

}

.container{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* min-height: auto; */
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}

.profile-card{
    background: #08120e;
    width: 360px;
    padding: 3rem;
    border-radius: 10px;
    height: 800px;
    position: relative;
    color: #fff;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.profile-card .profile-pic{
    /* margin-top: 10px; */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.profile-card .profile-pic img{
    border-radius: 10px;
    width: 100%;
}

.profile-card .profile-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.profile-details .intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-details .intro h2{
    margin: 10px;
}

.profile-details .intro h4{
    background: #324e42;
    font-weight: 400;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 8px;
}

.profile-details .intro .social{
    margin-top: 10px;
    margin-bottom: 25px;
}

.profile-details .intro .social i{
    color: #ddd;
    font-size: 16px;
    background-color: #222;
    margin: 5px;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    transition: 0.5s;
}

.profile-details .intro .social i:hover{
    transform: scale(1.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.profile-details .contact-info{
    background-color: #1d1d1d;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
}

.profile-details .contact-info .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    /* margin-bottom: 10px; */
}

.contact-info .row .icon{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: #111;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}

.contact-info .row .icon:hover{
    transform: scale(1.2);
    border: 1px solid rgba(255, 255, 255, 0.1)
}

.row .content{
    min-width: 70%;
}

.row .content span{
    font-size: 12px;
}

.profile-card .download-btn{
    /* background: linear-gradient(45deg,#f63c57,#e21b5a); */
    background: linear-gradient(45deg,#9a8892, #587372);
    color: #fff;
    margin: 1rem 3rem;
    border-radius: 30px;
    margin-top: 1.5rem;
    border: none;
    padding: 15px 32px;
    transition: 0.5s;
}
.profile-card .download-btn:hover{
    transform: scale(1.2);
    border: 1px solid rgba(255, 255, 255, 0.3)
}

/* .menu{
    background: #111;
    width: 400px;
    padding: 3rem;
    border-radius: 10px;
    height: 400px;
    position: fixed;
    top: 400px;
    color: #fff;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
} */
/* Main page */
.about{
    background-color: #08120e;
    max-width: 843px;
    padding: 2rem 3rem;
    border-radius: 10px;
    margin: 15px;
}

.about h1{
    color: #f2f2f2;
    margin-bottom: 1.1rem;
    position: relative;
    display: inline-block;
    font-size: 3.5rem;
}

.about h1::after{
    position: absolute;
    content: "";
    top: 50%;
    right: -50%;
    width: 45%;
    height: 3px;
    background: linear-gradient(45deg, #9a8892, #587372);
}

.about p{
    color: #abbab2;
    margin: 1.5rem 0;
}

.about a{
    color: #726a96;
}

.about h2{
    color: #f2f2f2;
    margin-bottom: 1.1rem;
    position: relative;
    display: inline-block;
    font-size: 2rem;
}

.about h3{
    color: #f2f2f2;
    margin-bottom: 1.1rem;
    position: relative;
    display: inline-block;
    font-size: 1rem;
}

@media(max-width: 786px){
    .about{
        width: 1005;
        max-width: 400px;
        padding: 1rem;
        margin: 1rem;
    }
    .about h1{
        font-size: 2.2rem;
    }
}